.campaign-name {
    text-align: left;
    width: 30%;
    margin: 1%;
    font-weight: normal;
    font-size: 15px;
}
.wrapper{
    margin: 0, 1%;
    height: 100px;
    /* clear: both; */
}

.fields-wrapper {
    border: 1px solid rgb(120, 214, 25);
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
    float: left;
    /* background-color: rgb(248, 247, 244); */
}

.fields-wrapper:hover {
    background-color: rgb(87, 143, 216);
    cursor: pointer;
}

.profile-picture {
    object-fit: cover;
}

.inline-field {
    height: 100px;
    width: 100px;
    float: left;
}

.button-submit {
    margin: 1%;
}